.button {
    border-radius: 2.5rem;
    font-size: 1.8rem;
    color: #fff;
    padding: 1rem 5rem;
    text-align: center;
    background-color: rgb(0, 136, 204);
    box-shadow: 0px 10px 19.4px 0.6px rgba(0, 136, 204, 0.5);
    transform: perspective(1px) translateZ(0);
    vertical-align: middle;
}

.button:hover {
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.button--black {
    background-color: rgb(0, 0, 0);
    font-size: $s-size;

}




