#hero {
   
    background: url("../../assets/hero.png") bottom center/cover no-repeat;
    min-height: 750px;
    text-align: center;

    .header {
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: $m-size;
            letter-spacing: 0.05rem;
        }
        width: 75%;
    } 
    

}